@shumacherRed : #E51937;
@pageBG : #323232;
@gothamBold : "Gotham Bold", 'Metrophobic', sans-serif;
@gothamBook : "Gotham Book", 'Metrophobic', sans-serif;
@gothamMed : "Gotham Medium", 'Metrophobic', sans-serif;

@font-face {
  font-family: 'Gotham Bold';
  src: url('./assets/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham Book';
  src: url('./assets/fonts/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('./assets/fonts/Gotham-Medium.otf');
}


.App {
  text-align: left;
  background-color: @pageBG;
  h2, h3, h4{
    color:@shumacherRed;
    font-family: @gothamBold;
  }
  a.btnRed:hover{
    color: white;
  }
  .btnRed{
    background-color: @shumacherRed;
    min-width: 282px;
    min-height: 50px;
    font-family: @gothamMed;
    margin-top: 5px;
    font-size: 18px;
  }
  .slider{
    margin-top: 30px;
    margin-bottom: 30px;
    .carousel-indicators [data-bs-target] {
      width: 15px;
      border-radius: 50%;
      height: 15px;
      margin-right: 8px;
      margin-left: 8px;
      border: solid 1px darkgrey;
      /* border-top: 10px solid transparent; */
      /* border-bottom: 10px solid transparent; */
    }
  }
  .tagline{
    color: @shumacherRed;
  }
  .powerful-electric-ve {
    color: @shumacherRed;
    font-family: @gothamBold;
    font-size: 40px;
    // font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 75px;
  }
  .App-header, .footer {
    background-color: @pageBG;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    .schumacher-logo {
      height: 89px;
      width: 523px;
    }
    .App-logo {
      cursor: pointer;
      max-width: 100%;
      padding-left: 10%;
      padding-right: 10%;
      @media (min-width: 768px) {
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
        max-width: 523px;
      }
    }
    .App-link {
      color: #61dafb;
    }    
  }
  .appBody{
    background-color: @pageBG;
    color:white;
    padding-bottom: 25px;
    .prodDesc{
      text-align: center;
      font-family: @gothamBook;
      font-size: 22px;
    }
    
    .new-level-2-ev-wall {
      color: @shumacherRed;
      font-family: @gothamBold;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 26px;
      margin-top: 5px;
    }
    .twoColHero{
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .twoColSizzle{
      margin-top: 100px;
    }
    .sizzleLeft{
      padding-top: 50px;
      .sectionTitle{
        text-align: left;
        padding-left: 0px;
      }
    }
    // .sizzleRight{
    //   width: 100%;
    // }
    .twoColHeroImg{
      max-width: 100%;
    }
    .sectionTitle{
      // font-size: 20px;
      color: @shumacherRed;
      font-family: @gothamBold;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 26px;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 20px;
      text-align: left;
      @media (min-width: 768px) {
        text-align: center;
      }
    }
    .threeColProd{
      max-width: 100%;
    }
  }
  .features{
    background-color: white;
    text-align: center; 
    font-family: @gothamBold;
    margin-top: 25px;
    padding-top: 45px;
    padding-bottom: 50px;
    h2{
      color:black;
    }
    p{
      font-family: @gothamMed;
      text-align: center; 
      margin-bottom: 0px;
      @media (min-width: 768px){
        padding-left: 18%;
        padding-right: 18%;
      }
    }
    .featuresImg{
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
    }
    .downloadHeader{
      h4{
        color: black;
        text-align: left;
        font-size: 22px;
      }
      margin-bottom: 25px;
    }
    .manualLink{
      text-align: left;
      a{
        color: black;
      }
    }
  }
  .accessories{
    padding-top: 150px;
    padding-bottom: 150px;
    color:white;
    text-align: center;
    font-family: @gothamBold;
    background-color: @shumacherRed;
    h3, h4{
      color:white;
    }
    h3{
      margin-bottom: 20px;
      font-size: 40px;
    }
    h4{
      margin-bottom: 50px;
      font-size: 18px;
      margin-left: 10%;
      margin-right: 10%;
    }
    .btnBlk{
      background-color: #323232;
      min-width: 282px;
      min-height: 50px;
      font-family: @gothamMed;
      margin-top: 5px;
      font-size: 18px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
    .prodDesc{
      text-align: center;
      font-family: @gothamBold;
      font-size: 22px;
    }
    .threeColProd{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .threeChargers{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 75px;
    text-align: center;
    font-family: @gothamBold;
    h2{
      color: black;
      font-size: 40px;
      font-family: @gothamBold;
      padding-bottom: 50px;
    }
    .prodDesc{
      text-align: center;
      font-family: @gothamBold;
      font-size: 22px;
    }
    .threeColProd{
      padding-right: 20px;
      max-width: 100%;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 75px;
      }
    }
    .estimated{
      font-family: @gothamBook;
      font-size: 18px;
      padding-top: 10px;
      text-align: left;
    }
  }
  .horizontalLine{
    background-color: white;
    hr{
      color: black;
      background: black; 
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
    padding-bottom: 75px;
  }
  .mobileApps{
    background-color: white;
    text-align: center;
    h2{
      font-family: @gothamBold;
      font-size: 40px;
      margin-bottom: 75px;
    }
    img.schuLogo{
      margin-bottom: 40px;
      max-width: 338px;
      @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .mobileAppDownload{
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    p{
      text-align: left;
    }
    .iosBtn{
      margin-top: 10px;
      margin-left: 24px;
    }
    .mobileBtn{
      padding-left: 5%;
    }
  }
  .expansionPanels{
    padding-top:70px;
    background-color: white;
    @media (min-width: 768px) {
      padding-top:30px;
      padding-left: 150px;
      padding-right: 150px;
    }
    .player-wrapper {
      position: relative;
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      margin-bottom: 10px;
    }
    
    .react-player {
      position: absolute;
      top: 0;
      left: 0;
    }
    svg{
      font-size: 3.5rem;
    }
    .panelTitle {
      color: #000000;
      font-family: @gothamBold;
      font-size: 22px;
      letter-spacing: 0;
    }
    .animation{
      max-width: 100%;
      margin-bottom: 10px;
    }
    .accordionPanel{
      margin-bottom: 10px;
      margin-top: 10px;
      box-shadow: none;
      border-top: 1px solid black;
      border-radius: 0px;
    }
    .troubleShooting{
      max-width: 100%;
    }
  }
  .disclaimer{
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    color: #FFFFFF;
    font-family: @gothamBook;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    padding-top: 20px;
    img{
      padding-bottom: 20px;
    }
  }
}






