.App {
  text-align: center;
}
.App h2,
.App h3,
.App h4 {
  color: #D02139;
}
.App .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App .App-header .App-logo {
  cursor: pointer;
  max-width: 50%;
}
.App .App-header .tagline {
  color: #D02139;
}
.App .App-header .App-link {
  color: #61dafb;
}
.App .appBody {
  background-color: #282c34;
  color: white;
}
.App .appBody .twoColHero {
  padding-bottom: 40px;
}
.App .appBody .twoColHeroImg {
  max-width: 100%;
}
.App .appBody .sectionTitle {
  font-size: 20px;
}
.App .appBody .threeColProd {
  max-width: 100%;
}
