@font-face {
  font-family: 'Gotham Bold';
  src: url('./assets/fonts/Gotham-Bold.otf');
}
@font-face {
  font-family: 'Gotham Book';
  src: url('./assets/fonts/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('./assets/fonts/Gotham-Medium.otf');
}
.App {
  text-align: left;
  background-color: #323232;
}
.App h2,
.App h3,
.App h4 {
  color: #E51937;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
}
.App a.btnRed:hover {
  color: white;
}
.App .btnRed {
  background-color: #E51937;
  min-width: 282px;
  min-height: 50px;
  font-family: "Gotham Medium", 'Metrophobic', sans-serif;
  margin-top: 5px;
  font-size: 18px;
}
.App .slider {
  margin-top: 30px;
  margin-bottom: 30px;
}
.App .slider .carousel-indicators [data-bs-target] {
  width: 15px;
  border-radius: 50%;
  height: 15px;
  margin-right: 8px;
  margin-left: 8px;
  border: solid 1px darkgrey;
  /* border-top: 10px solid transparent; */
  /* border-bottom: 10px solid transparent; */
}
.App .tagline {
  color: #E51937;
}
.App .powerful-electric-ve {
  color: #E51937;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 75px;
}
.App .App-header,
.App .footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.App .App-header .schumacher-logo,
.App .footer .schumacher-logo {
  height: 89px;
  width: 523px;
}
.App .App-header .App-logo,
.App .footer .App-logo {
  cursor: pointer;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
@media (min-width: 768px) {
  .App .App-header .App-logo,
  .App .footer .App-logo {
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
    max-width: 523px;
  }
}
.App .App-header .App-link,
.App .footer .App-link {
  color: #61dafb;
}
.App .appBody {
  background-color: #323232;
  color: white;
  padding-bottom: 25px;
}
.App .appBody .prodDesc {
  text-align: center;
  font-family: "Gotham Book", 'Metrophobic', sans-serif;
  font-size: 22px;
}
.App .appBody .new-level-2-ev-wall {
  color: #E51937;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 5px;
}
.App .appBody .twoColHero {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.App .appBody .twoColSizzle {
  margin-top: 100px;
}
.App .appBody .sizzleLeft {
  padding-top: 50px;
}
.App .appBody .sizzleLeft .sectionTitle {
  text-align: left;
  padding-left: 0px;
}
.App .appBody .twoColHeroImg {
  max-width: 100%;
}
.App .appBody .sectionTitle {
  color: #E51937;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .App .appBody .sectionTitle {
    text-align: center;
  }
}
.App .appBody .threeColProd {
  max-width: 100%;
}
.App .features {
  background-color: white;
  text-align: center;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  margin-top: 25px;
  padding-top: 45px;
  padding-bottom: 50px;
}
.App .features h2 {
  color: black;
}
.App .features p {
  font-family: "Gotham Medium", 'Metrophobic', sans-serif;
  text-align: center;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .App .features p {
    padding-left: 18%;
    padding-right: 18%;
  }
}
.App .features .featuresImg {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.App .features .downloadHeader {
  margin-bottom: 25px;
}
.App .features .downloadHeader h4 {
  color: black;
  text-align: left;
  font-size: 22px;
}
.App .features .manualLink {
  text-align: left;
}
.App .features .manualLink a {
  color: black;
}
.App .accessories {
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  text-align: center;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  background-color: #E51937;
}
.App .accessories h3,
.App .accessories h4 {
  color: white;
}
.App .accessories h3 {
  margin-bottom: 20px;
  font-size: 40px;
}
.App .accessories h4 {
  margin-bottom: 50px;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
}
.App .accessories .btnBlk {
  background-color: #323232;
  min-width: 282px;
  min-height: 50px;
  font-family: "Gotham Medium", 'Metrophobic', sans-serif;
  margin-top: 5px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .App .accessories .btnBlk {
    margin-bottom: 40px;
  }
}
.App .accessories .prodDesc {
  text-align: center;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 22px;
}
.App .accessories .threeColProd {
  max-width: 100%;
  margin-bottom: 20px;
}
.App .threeChargers {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 75px;
  text-align: center;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
}
.App .threeChargers h2 {
  color: black;
  font-size: 40px;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  padding-bottom: 50px;
}
.App .threeChargers .prodDesc {
  text-align: center;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 22px;
}
.App .threeChargers .threeColProd {
  padding-right: 20px;
  max-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .App .threeChargers .threeColProd {
    margin-bottom: 75px;
  }
}
.App .threeChargers .estimated {
  font-family: "Gotham Book", 'Metrophobic', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  text-align: left;
}
.App .horizontalLine {
  background-color: white;
  padding-bottom: 75px;
}
.App .horizontalLine hr {
  color: black;
  background: black;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.App .mobileApps {
  background-color: white;
  text-align: center;
}
.App .mobileApps h2 {
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 40px;
  margin-bottom: 75px;
}
.App .mobileApps img.schuLogo {
  margin-bottom: 40px;
  max-width: 338px;
}
@media (max-width: 768px) {
  .App .mobileApps img.schuLogo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .App .mobileApps .mobileAppDownload {
    text-align: center;
  }
}
.App .mobileApps p {
  text-align: left;
}
.App .mobileApps .iosBtn {
  margin-top: 10px;
  margin-left: 24px;
}
.App .mobileApps .mobileBtn {
  padding-left: 5%;
}
.App .expansionPanels {
  padding-top: 70px;
  background-color: white;
}
@media (min-width: 768px) {
  .App .expansionPanels {
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
  }
}
.App .expansionPanels .player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 10px;
}
.App .expansionPanels .react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.App .expansionPanels svg {
  font-size: 3.5rem;
}
.App .expansionPanels .panelTitle {
  color: #000000;
  font-family: "Gotham Bold", 'Metrophobic', sans-serif;
  font-size: 22px;
  letter-spacing: 0;
}
.App .expansionPanels .animation {
  max-width: 100%;
  margin-bottom: 10px;
}
.App .expansionPanels .accordionPanel {
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: none;
  border-top: 1px solid black;
  border-radius: 0px;
}
.App .expansionPanels .troubleShooting {
  max-width: 100%;
}
.App .disclaimer {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  color: #FFFFFF;
  font-family: "Gotham Book", 'Metrophobic', sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  padding-top: 20px;
}
.App .disclaimer img {
  padding-bottom: 20px;
}
