@shumacherRed : #D02139;

.App {
  text-align: center;
  h2, h3, h4{
    color:@shumacherRed;
  }
  .App-header {
    background-color: #282c34;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    .App-logo {
      cursor: pointer;
      max-width: 50%;
    }
    .tagline{
      color: @shumacherRed;
    }
    .App-link {
      color: #61dafb;
    }    
  }
  .appBody{
    background-color: #282c34;
    color:white;
    .twoColHero{
      padding-bottom: 40px;
    }
    .twoColHeroImg{
      max-width: 100%;
    }
    .sectionTitle{
      font-size: 20px;
    }
    .threeColProd{
      max-width: 100%;
    }
  }
  .expansionPanels{
    margin-top:20px;
    .animation{
      max-width: 100%;
      margin-bottom: 10px;
    }
    .accordionPanel{
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}






